*~
*.o
*.gmo
*.in
*.sin

# 'bootstrap' files
ABOUT-NLS
Makefile
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
m4/
missing
po/Makefile
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/quot.sed
po/stamp-po
py-compile
src/.deps/
src/Makefile
src/gtk-redshift/Makefile
src/redshift
stamp-h1

